html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
	
body {
    line-height: 1;
    background: #ffffff;
    color: #222222;
    font-family: Roboto, Arial, sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
  box-sizing:border-box;
}

html{
  font-size:62.5%; 
}

/* CSS For service page*/ 
.servicetopnav {
    overflow: hidden;
    background-color: #333;
  position: relative;

}
 .headerimge1{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(/img/services/services-jumbotron.png);
    width: 100%;
    height: 200px;
    opacity: 100%;
	  alt: "Skyscraper";
}

/* Hide the links inside the navigation menu (except for logo/home) */
.servicetopnav #myLinks {
	display: none;
  }
  
/* Style navigation menu links */
.servicetopnav a {
    color: #FFFFFF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.7rem;
	  display: block;
  }

/* Style the hamburger menu */
 a.icon {
    background: rgba(0, 0, 0, 0);
    display: block;
    position: absolute;
    right: 0;
	top: 0;
  }

  .servicetopnav a:hover {
    background-color: #ddd;
    color: black;
  }
/* Style the active link (or home/logo) */
.servicetopnav .active {
    background-color: #9ea9b3;
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: bolder;
  }

  .servicesintro{
	font-size: 1.6rem;
  line-height: 2.4rem;
  margin-left:5%;
  margin-right: 5%;
	border: solid pink 10px;
}

h1{
  font-size: 6.5rem;
  color:white;
  margin-top:9%;
  font-weight: bolder;
}

.worko-tabs {
    margin: 20px;
    width: 80%;
    border: solid green 10px;
    margin: 0 auto;
    padding-bottom: 5%;
}
.state{
	position: absolute;
	left: -10000px;
  }
  
  .flex-tabs{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }

  .tab {
    border: 3px solid black;
    margin: 3%;
    background: white;
    text-align: center;
    font-size: 1.6rem;
    flex-grow: 1;
    max-height: 40px;
  }

	
	 .panel {
      padding: 2rem;
      min-height: 20rem;
      display: none;
      width: 100%;
      flex-basis: auto;
		  border: 10px solid blue;
    }
    
    .panelcontent{
      display:flex;
      border: 10px solid grey;
      padding-top: 0%;
    }

    .info{
      margin: 0 auto;
      padding-top:5%;
     font-size:1.6rem;
   
     
    }
	  
	  h3{
		font-size: 2rem;
		color:black;
    line-height: 1px;
    border: 10px solid red;
    margin-bottom: 6%;
   
	}
    
    .tab {
      padding: 1rem;
      vertical-align: top;
	}
  
  .tab:hover{
    background-color: #222222;
    color: #FFF;
		}
		
     
#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label{
    cursor: default;
   
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel{
    display: block;
}

footer{
    color:white;
    justify-content: space-evenly;
    display:flex;
    padding: 5% 0 0 0;
    background:grey;
}

.form{
    margin-left: -100px;
}
.New{
margin: 0 -200px 5% 1%;

}

.Flo{
margin: 0 -200px 5% 15%;
}

.Cali{
margin: 0 -100px 5% 15%;
}
.NY{
font-weight: bold;
}
.FL{
font-weight: bold;
}
.CA{
font-weight: bold;
}
form input{
    border-radius:5%;
    padding:2% 2% 2% 2%;
}
.copy{
    color:white;
    background:grey;
    text-align: center;
}


@media(max-width:500px){
  .home-header div {
    margin-bottom: 5%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(/img/home/home-mobile-jumbotron.png);
    width: 100%;
    height: 500px;
    opacity: 100%;
  }

  .home-header h1{
  margin-top:20%;	
  margin-bottom:-40%;
  font-size: 400%;
  }

.intro{
  flex-direction: column-reverse;	
} 
.intro img{
  margin-right:100%;
  margin-left:-30px;
  width:90%;
}
footer{
	flex-direction: column;
	padding-left:20%;
}
.form{
	margin-left: -5px;
margin-bottom: 15px;
}

.form input{
	padding:7px 100px 7px 5px;
	margin:5% 0;
}
.New{
	
	margin: 0 -200px 15px 15%;
	
}

.Flo{
	
	margin: 0 -200px 15px 15%;
}

.Cali{
	
	margin: 0 -100px 15px 15%;
	}
	.NY{
		font-weight: bold;
		}
		.FL{
			font-weight: bold;
		}
		.CA{
			font-weight: bold;
        }
        
.maincontent{
    flex-direction: column;
}

input[type=submit]{
    width: 100%;
}

.maincontactform{
    align-self: center;    
    width: 100%;
    padding: 5%;
    white-space: nowrap;
}

.maincontactform h4{
padding-left: 8%;
}

.CNY{
    padding-top: 50%;
}

}






